@model MVC.Models.Reservation

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="createReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AmountOfNights" class="control-label"></label>
                <input asp-for="AmountOfNights" class="form-control" />
                <span asp-validation-for="AmountOfNights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpochArrival" class="control-label"></label>
                <input asp-for="EpochArrival" class="form-control" />
                <span asp-validation-for="EpochArrival" class="text-danger"></span>
            </div>
      @*      <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
               
            </div>*@
            <div class="form-group">
                <label asp-for="EpochLeave" class="control-label"></label>
                <input asp-for="EpochLeave" class="form-control" />
                <span asp-validation-for="EpochLeave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
