@model MVC.Models.Customer

@{
    ViewData["Title"] = "Create";
}
<div class="container flex justify-center flex-row mx-auto">


<hr />
<div
        class="p-4 w-full max-w-2xl bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 my-6 mx-auto">
        <x-jet-validation-errors class="mb-4" />

        <form class="space-y-6" asp-action="Create">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white">Create a new Appointment</h5>
  

            <div>
                <label for="title"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Title</label>
                <input type="text" name="title" id="title"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white lowercase"
                    placeholder="example: birthdate party" >
      
            </div>
            <div class="col-md-6">
                <label for="datetime " class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Date:</label>

                <input type="datetime-local" name="datetime" id="datetime" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white lowercase">

            </div>
            <div>
                <label for="location"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Location</label>
                <input type="text" name="location" id="location"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white lowercase"
                    placeholder="Almere" >
             
            </div>
            <div class="form-group">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    for="sel1">Coach:</label>
                <select name="coach_id"
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white lowercase"
                    id="sel1">
                    <option value="">no coach</option>
               

                </select>
         
            </div>
            <div class="form-group">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="sel1">Travel
                    time:</label>
                <select
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white lowercase"
                    name="travel_time" id="sel1">
                    <option value="0" default>none</option>
                    <option value="5">5 minutes</option>
                    <option value="15">15 minutes</option>
                    <option value="30">30 minutes</option>
                    <option value="60">60 minutes</option>
                    <option value="120">120 minutes</option>

                </select>
          
            </div>
            <div class="form-group">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    for="sel1">Duration:</label>
                <select
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white lowercase"
                    name="duration" id="sel1">

                    <option value="30">30 minutes</option>
                    <option value="45">45 minutes</option>
                    <option value="60">60 minutes</option>
                    <option value="90">90 minutes</option>
                    <option value="120">120 minutes</option>
                    <option value="-1">All day</option>
                </select>
               
            </div>
            <div class="form-group">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="sel1">Notify
                    me:</label>
                <select
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white lowercase"
                    name="alert" id="sel1">
                    <option value="1">Don't notify me</option>
                    <option value="1">5 minutes before</option>
                    <option value="1">15 minutes before</option>
                    <option value="1">30 minutes before</option>
                    <option value="1">60 minutes before</option>
                    <option value="1">120 minutes before</option>
                </select>
               
            </div>


            

            <button type="submit"
                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create
                Appointment</button>
        </form>
    </div>


@*<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    </div>